.webix_view{
overflow: visible;
}
.buttons{
	margin-left:50px!important;
	margin-right:50px!important;
	margin-top:100px!important;
}
.borderGroup{
	border: 1px solid #ccc;
	margin: 10px!important;
}
.list1{
	margin-left: 50px!important;
	margin-right:50px!important;
	margin-top:20px!important;
}
.list2,.list3{
	margin-top:20px!important;
}